* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

@media only screen and (max-width: 690px) {
    html {
        font-size: 12px;
    }
}

header {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 0;
    font-size: 1.5rem;
}

a:link,
a:visited {
    color: blue;
}

.nav-container {
    width: 100%;
    display: flex;
    position: fixed;
    background-color: white;
    z-index: 1000;
}

.initials {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    width: 50%;
}

.initials p {
    padding: 3px;
    margin-left: 15px;
    vertical-align: middle;
    font-weight: 900;
}

.initials a:link {
    text-decoration: none;
    color: black;
}

.initials a:visited {
    color: black;
}

nav {
    width: 50%;
}

nav ul {
    list-style: none;
    display: inline-flex;
    justify-content: flex-end;
    flex-flow: row nowrap;
    width: 100%;
    align-items: stretch;
}

nav ul li {
    padding: 3px;
    margin: 0 15px;
    vertical-align: middle;
    font-weight: 600;
}

nav ul li a:link,
nav ul li a:visited {
    text-decoration: none;
    color: black;
}

nav ul li a:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 580px) {
    .initials {
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
    }
    .nav-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        /* position: fixed;
        background-color: white; */
        z-index: 1000;
    }
    nav {
        width: 100%;
    }
    nav ul {
        list-style: none;
        display: flex;
        justify-content: center;
        flex-flow: column wrap;
        width: 100%;
        /* align-items: stretch; */
        align-content: center;
    }
    nav ul li {
        padding: 3px;
        margin: 0 0;
        vertical-align: middle;
        font-weight: 600;
        width: 100%;
        text-align: center;
        border-top: 1px solid black;
    }
    nav ul li:last-of-type {
        border-bottom: 1px solid black;
    }
}


/* ---------------------------------------- */

.theme-toggle {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    flex-wrap: wrap;
    align-content: center;
    padding: 5px 0;
    font-size: 1.25rem;
    position: relative;
    top: 37px;
}

@media only screen and (max-width: 580px) {
    .theme-toggle {
        position: relative;
        top: 116px;
    }
}


/* SWITCH (from w3schools.com) */

#toggle-label {
    margin-right: 10px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
    margin-right: 20px;
}


/* Hide default HTML checkbox */

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}


/* The slider */

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 17px;
    width: 17px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: white;
}

input:focus+.slider {
    box-shadow: 0 0 1px white;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}


/* Rounded sliders */

.slider.round {
    border-radius: 25px;
}

.slider.round:before {
    border-radius: 50%;
}


/* ---------------------------------------- */

main {
    display: grid;
    grid-template-columns: .25fr 4fr 1.5fr;
    grid-template-rows: auto;
    column-gap: 1.875rem;
    position: relative;
    top: 37px;
}

@media only screen and (max-width: 580px) {
    main {
        grid-template-columns: .1fr 4fr .1fr;
        position: relative;
        top: 151px;
    }
}


/* _______MAIN BAR Section_______ */

.main_column {
    grid-column: 2 / 3;
    justify-content: flex-start;
    display: inline-flex;
    flex-flow: column nowrap;
    width: 100%;
    align-items: center;
    background-color: whitesmoke;
}

.main_header {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    margin-top: 30px;
    text-align: center;
    width: 80%;
}

.main_header h1 {
    font-size: 2.5rem;
    padding-bottom: 1.25rem;
    border-bottom: 2px solid black;
    margin-bottom: 20px;
}

.main_header h2 {
    font-weight: 500;
    margin-bottom: 20px;
}

.main_opener {
    width: 100%;
    margin: 0 auto;
    text-align: justify;
}

.main_opener p {
    line-height: 1.5;
    font-size: 1.2rem;
    padding-bottom: 20px;
    background-color: whitesmoke;
    padding: 20px;
    font-weight: 400;
}


/* _______PROJECTS SECTION_______ */

.projects_header {
    width: 80%;
    text-align: center;
    margin-top: 20px;
    padding: 20px;
    border-top: 2px solid black;
}

.projects_header h2 {
    font-size: 2rem;
}

.projects_container {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    background-color: whitesmoke;
    padding: 0 5px;
}

.project {
    display: flex;
    flex-flow: column wrap;
    width: fit-content;
    align-items: center;
    justify-content: space-around;
    min-width: 150px;
    max-width: 400px;
    text-align: center;
    margin: 10px 10px 20px 10px;
}

.project h3 {
    font-size: 1.25rem;
    margin: 5px;
}

.project h4 {
    font-weight: 500;
    font-style: italic;
    margin-bottom: 10px;
}

.project p {
    margin-bottom: 10px;
}

.project img {
    max-width: 100%;
    min-width: 150px;
    border-radius: 5%;
    border: 2px solid black;
    ;
}

.project img:hover {
    opacity: 0.8;
}


/* _______SIDEBAR Section_______ */

.sidebar {
    width: 100%;
    display: inline-flex;
    justify-content: flex-start;
    flex-direction: column;
    grid-column: 3 / 4;
    padding-right: 1.875rem;
}

.sidebar-container {
    width: auto;
    height: auto;
    position: sticky;
    top: 25px;
    margin-bottom: 20px;
}

.img_container {
    display: flex;
    justify-content: center;
    flex-shrink: 1;
    flex-wrap: wrap;
}

.sidebar .img_container img {
    max-width: 277px;
    min-width: 0;
    border-radius: 50%;
    margin-top: 1.875rem;
    flex-shrink: 1;
}

.sidebar .headshot_info {
    text-align: center;
}

.sidebar .headshot_info h2 {
    font-size: 2rem;
    margin-top: 10px;
}

.sidebar .headshot_info h3 {
    font-size: 1.25rem;
    margin: 10px 0 15px 0;
    font-style: italic;
    font-weight: 500;
}

.logo_container {
    width: 100%;
    justify-content: space-evenly;
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
}

.sidebar figure {
    margin-top: 15px;
    height: auto;
    width: auto;
}

.sidebar figure img {
    max-width: 100px;
}

@media only screen and (max-width: 1000px) {
    .sidebar .img_container img {
        max-width: 150px;
    }
}

@media only screen and (max-width: 580px) {
    .sidebar {
        width: 100%;
        display: inline-flex;
        justify-content: flex-start;
        flex-direction: column;
        grid-column: 2 / 3;
        padding-right: 30px;
    }
    .sidebar-container {
        width: auto;
        height: auto;
        position: relative;
        /* top: 25px; */
        margin-bottom: 20px;
    }
}


/* _______FOOTER_______ */

footer {
    width: 100%;
    height: 200px;
    content: "";
    margin-top: 35px;
    border-top: 2px solid black;
    position: relative;
    top: 37px;
}

@media only screen and (max-width: 580px) {
    footer {
        position: relative;
        top: 151px;
    }
}