* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    margin: 0;
    padding: 0;
    font-family: 'Neucha', cursive;
    font-size: 16px;
}

header {
    height: auto;
    width: 100%;
    /* border-bottom: 2px solid black; */
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 0;
    font-size: 1.5rem;
}

.nav-container {
    width: 100%;
    border-bottom: 2px solid black;
    display: flex;
}
.initials {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    width: 50%;
}

.initials p {
    padding: 3px;
    margin-left: 15px;
    vertical-align: middle;
}

nav {
    width: 50%;
    /* font-size: 1.5rem; */
}

nav ul {
    list-style: none;
    display: inline-flex;
    justify-content: flex-end;
    flex-flow: row nowrap;
    width: 100%;
    align-items: stretch;
    
}

nav ul li {
    padding: 3px;
    margin: 0 15px;
    vertical-align: middle;
}


.theme-toggle {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    align-content: center;
    padding: 5px 0;
}

/* SWITCH (from w3schools.com) */

#toggle-label {
    margin-right: 10px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
  }
  
        /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
        /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 17px;
    width: 17px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
        /* Rounded sliders */
  .slider.round {
    border-radius: 25px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }